@import 'bootstrap';

body {
    background-color: #333333;
    color: #7CFCC4;
}

p {
    font-size: 20px;
}

a {
    color: #7CFCC4;
}

a:hover {
    color: #d3ffec;
}

.next {
    position: absolute;
    right: 80px;
    top: 200px;
    background-color: #7CFCC4;
    padding: 5px 50px;
}